NLP_MODEL_PATH=models/nlp/civiclear_nlp_model.joblib
MUNICIPAL_BOUNDARY_PATH=../public/gis/boundary.geojson
BARANGAY_BOUNDARY_PATH=../public/gis/santa_cruz_barangays.geojson
IMAGE_MODEL_PATH=models/image/best_float16.tflite
IMAGE_LABELS_PATH=models/image/labels.txt
IMAGE_METADATA_PATH=models/image/model_metadata.json
MAX_IMAGE_UPLOAD_BYTES=5242880
